/*************base styles**************/
body {
    font-family: Comic Sans MS;
}

* {
    box-sizing: border-box;
}

h1 {text-align: center;
    font-size: 175%;}

h2 {margin: 0px;
    text-align: center;
    font-size: 125%;
    width: 150px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    position: absolute;
    top: 0px;
    right: 0px;}

p {margin-top: 30px;
    padding: 20px;}

.head1 {background-color: rgb(248, 85, 85);}
.head2 {background-color: yellow;}
.head3 {background-color: skyblue;}

#item1 {margin: 20px;
    position: relative;
    float: left;
    border: 3px solid;
    background-color: gray;}

#item2 {margin: 20px;
    position: relative;
    float: left;
    border: 3px solid;
    background-color: gray;}

#item3 {margin: 20px;
    position: relative;
    float: left;
    border: 3px solid;
    background-color: gray;}
      
            
/*************large devices***************/
@media (min-width: 992px) {
    #item1{
        width: 30%;
    }
    #item2{
        width: 30%;
    }

    #item3{
        width: 30%;
    }

}

@media (min-width: 768px) and (max-width:991px;) {
    #item1{
        width: 47%;
        float: left;
    }
    #item2{
        width: 47%;
        float: left;
    }

    #item3{
        width: 96%;
        float: left;
    }

}

@media (max-width: 767px) {
    #item1{
        width: 96%;
    }
    #item2{
        width: 96%;
    }

    #item3{
        width: 96%;
    }

}